html
    head
        title Categorias 
    body
        form(action="/categories" method="POST")
            input(type="text" name="title")
            input(type="color" name="color")
            input(type="submit" value="Guardar")